body {
    background-color: #eee;
    background-image: url(../images/body.jpg);
    background-size: 250px 250px;
    color: #333;
    font-family: "Segoe WP","Segoe UI","Helvetica Neue",Helvetica,sans-serif;
    font-size: 113px;
    font-weight: 400;
    line-height: 20px;
    moz-text-size-adjust: 100%;
    ms-text-size-adjust: 100%;
    o-text-size-adjust: 100%;
    position: relative;
    text-size-adjust: 100%;
    webkit-font-smoothing: antialiased;
    webkit-text-size-adjust: 100%;
}
